<div class="row" style="margin-bottom:100px;margin-top:50px;">
  <div class="col-12 text-center">
    <p class="text-muted"> All own source code provided as <a href="https://creativecommons.org/publicdomain/zero/1.0/deed.de" target="_blank" rel="license">CC0</a> | <a href="https://gitlab.com/programmieraffe/openeducationtagger" target="_blank">Hosted on
        GitLab.com</a> (<a href="https://about.gitlab.com/privacy/">Privacy</a>) | <a href="https://oerhoernchen.de/impressum" target="_blank">Imprint</a> | <a href="https://oerhoernchen.de/impressum" target="_blank">Privacy</a></p>
  </div>
</div>
<!-- <footer class="fixed-bottom text-center" style="background:white;border-top:1px solid #999;">
  <div class="container small  py-3">
    Settings are stored in your browser storage |  <a href="#" id="oetDeleteLocalStorage"><i class="fa fa-trash" aria-hidden="true"></i> Delete local browser storage</a> </div>
</footer> -->
