<nav id="navbarTop" class="navbar navbar-dark bg-dark text-center mb-4 fixed-top" style="color:floralwhite;">
  <div class="text-center mx-auto" style="text-align:center;">
    <small>Please use <a href="https://fabricdigital.co.nz/blog/how-to-hard-refresh-your-browser-and-clear-cache">hard reload</a> (Windows Chrome/Firefox: Ctrl + Shift + R / Mac Chrome/Firefox: CMD + Shift + R) to get the latest development version. <a href="#" id="oetDismissNavbarNotice">Dismiss</a></small>
  </div>
</nav>

<header style="margin-top:50px;">
  <div class="container">
    <nav class="navbar navbar-expand px-0 ">
      <span class="navbar-brand">
        <!--  <img src="./../../images/logo.jpg" width="30" height="30" class="d-inline-block align-top rounded" alt="">--> 👩‍💻🔎 Open Education Tagger
      </span>

      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item">
          <a href="https://oerhoernchen.de/impressum" class="nav-link text-dark px-0" target="_blank">Datenschutz/Impressum</a>
        </li> -->
        <li class="nav-item  pl-3">
          <a href="https://gitlab.com/programmieraffe/openeducationtagger/" class="nav-link text-dark px-0" target="_blank">
            <i class="fab fa-gitlab"></i>
          </a>
        </li>
        <li class="nav-item  pl-3">
          <a href="https://github.com/programmieraffe/openeducationtagger/" class="nav-link text-dark px-0" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="nav-item  pl-3">
          <a href="https://twitter.com/OpenEdTagger" class="nav-link text-dark px-0" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>


      </ul>
    </nav>
  </div>
</header>
