<div id="container" class="container">
  <form>
    <div class="row">
      <div class="col-md-8 text-center mt-5 mx-auto">
        <h1>Open Education Tagger</h1>
        <p class="mt-4">Setup your own data collection and search engine infrastructure for educational resources. No commandline-skills required, just a modern web browser.</p>
        <!--<p><a href="#setItUp" class="btn btn-lg btn-warning"><i class="fas fa-arrow-down"></i> Setup tutorial</a></p>-->
        <p><small>Current state: beta / experimental (v.0.9)</small></p>
        <p class="mb-5"><a href="#" class="btn btn-dark"><i class="fas fa-play-circle"></i> Video tutorial (coming soon)</a></p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Toolkit</h5>
            <p class="card-text">Open Education Tagger consists of three core components: A <a href="https://docs.google.com/spreadsheets/d/1gqRt0UxtcTNGKduQnTlV1MR3U5ByBkzCyTMkWE6wb04/edit" target="_blank">spreadsheet template</a> for collection of
              resources, a browser-tool called "<a href="#Spreadsheet2Index">spreadsheet2index</a>" (<a href="https://gitlab.com/programmieraffe/openeducationtagger" target="_blank">source code</a>) and a <a
                href="https://programmieraffe.gitlab.io/openeducationtagger-search/?url=https://coronacampus-691643726.eu-central-1.bonsaisearch.net&index=index1&auth=qjoZXnydFC:gPY6fNtC5VTDBbXahckQ">generalized Search UI</a>, which can be configured
              via simple GET-parameters (<a href="https://gitlab.com/programmieraffe/openeducationtagger-search" target="_blank">source code</a>).
            </p>
            <div class="text-center"><a href="#setItUp" class="btn btn-primary"><i class="fas fa-arrow-down"></i> Setup tutorial</a></div>

          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body ">
            <h5 class="card-title">Demo / Public playground</h5>
            <p>Edit this publicly editable demo spreadsheet, data will be sent every 10 minutes to the index automatically:</p>

            <p class="pt-2 pb-2 text-center"><a href="https://docs.google.com/spreadsheets/d/1VGyNFu0DrZsYTyEUVBx9q-TDSs2FTIt_ZOaUJ8L60Go/edit" class="btn btn-warning" target="_blank"><i class="fas fa-edit"></i> Collect</a> <i
                class="fas fa-arrow-circle-right"></i> <a href="https://programmieraffe.gitlab.io/openeducationtagger-search/?url=https://coronacampus-691643726.eu-central-1.bonsaisearch.net&index=index1&auth=qjoZXnydFC:gPY6fNtC5VTDBbXahckQ"
                class="btn btn-info" target="_blank"><i class="fa fa-search" aria-hidden="true"></i> Explore in search UI</a> </p>

            <p style="line-height:1.1;margin-bottom:0;padding-bottom:0;" class="text-center pb-0 mb-0"><small>Elasticsearch hosted at <a href="https://bonsai.io" target="_blank">bonsai.io</a> (<a href="https://bonsai.io/privacy"
                  target="_blank">Privacy Policy</a>), <a href="https://gitlab.com/programmieraffe/openeducationtagger-herokuworker" target="_blank">Auto-Sync-script</a></small>.</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12 col-md-8  text-center mt-5 mx-auto">
        <!-- <h3 class="mt-5 mb-5">Demo playground (2DO: Worker setup!)</h3> -->

        <h3>Why yet another search project?</h3>

        <p>There are a lot of professional infrastructure, metadata and platform projects out there, but I wasn't aware of a solution which can be easily configured and deployed with limited resources / limited staff / limited commandline skills. So this little open source project is my contribution to that issue.</p>

        <p>For nOERds: <a href="https://kurzelinks.de/ubfb" target="_blank">Architecture graphic</a> | <a href="https://gitlab.com/programmieraffe/openeducationtagger" target="_blank">README</p></a></p>

        <hr class="mt-5" />

      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8 mx-auto">

        <h1 id="setItUp" class="mt-5 mb-2 text-center">Set it up yourself</h1>

        <p class="mt-5">Video tutorial: <i>coming soon (hopefully ;-))</i></p>

        <h3 class="text-left mt-5 mb-3">0. Prepare </h3>
        <p class="mt-4">Please open the developer tools of your browser (Tutorial: <a href="https://developers.google.com/web/tools/chrome-devtools/open" target="_blank">Chrome</a>, <a
            href="https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console" target="_blank">Firefox</a>), we'll need them in the next steps to monitor requests.<br><br>
          Info: The following settings will be stored automatically in your browser storage, you can delete them anytime (see footer button "Delete local browser storage").</p>

        <h3 class="text-left mt-5">1. Google Drive Spreadsheet Template 📝 </h3>
        <p class="mt-4">Collect educational resources together with a simple web spreadsheet, I prepared a simple template:</p>
        <p class="text-center">
          <a href="https://docs.google.com/spreadsheets/d/1gqRt0UxtcTNGKduQnTlV1MR3U5ByBkzCyTMkWE6wb04/copy" target="_blank" class="btn btn-warning btn-lg"><i class="far fa-copy"></i> Clone it</a>

          <br>

          <a href="https://docs.google.com/spreadsheets/d/1gqRt0UxtcTNGKduQnTlV1MR3U5ByBkzCyTMkWE6wb04/edit" target="_blank" class="btn btn-link"><i class="far fa-eye"></i> View template</a>
        </p>
        <p>After you duplicated this spreadsheet, publish the spreadsheet (<i>"File -> Publish in Web"</i>). Close the publish dialogue. Afterwards you can use your spreadsheet-ID in the next steps.</p>

        <h3 class="text-left mt-5">2. Setup your own Elasticsearch index 🗄</h3>
        <p class="mt-4 text-left">Elasticsearch is an open source database technology which allows fast and flexible data collection.</p>

        <p class="text-left">Create your own instance, for example at one of these providers:</p>

        <p>
          <ul class="list-group">
            <li class="list-group-item"><a href="//bonsai.net" target="_blank"><i class="fas fa-external-link-alt"></i> bonsai.net</a> (free with readwrite,readonly on paid)</li>
            <li class="list-group-item"><a href="//appbase.io" target="_blank"><i class="fas fa-external-link-alt"></i> appbase.io</a> (free with readwrite/readonly)</li>
            <li class="list-group-item"><a href="//stackhero.io" target="_blank"><i class="fas fa-external-link-alt"></i> stackhero.io</a> (free trial w/o read-only)</li>
            <li class="list-group-item"><a href="//qbox.io" target="_blank"><i class="fas fa-external-link-alt"></i> qbox.io</a> (no free trial)</li>
          </ul>
        </p>

        <p class="text-left"><small>There are professional cloud providers (Elastic Cloud, AWS, Google, Azure, etc.) for Elasticsearch hosting, but you have to configure a lot more when you set up Elasticsearch there. Elasticsearch is Open Source,
            therefore you can of course install it on your own server if you have nerd-superpowers.</small></p>


        <!-- <h2>Send spreadsheet to index 📝 ➡️ 🔎</h2>
          <p class="pt-2 pb-2">This will sync the given Google Drive Spreadsheet to an Elasticsearch instance. The spreadsheet ID will be saved as data field in elasticsearch entries (before the sync all entries with that spreadsheet ID will be
            deleted
            in the given elasticsearch instance).</p> -->



        <h3 id="step3" class="text-left mt-5 mb-3">3. Elasticsearch authentication 🔑</h3>

        <p class="text-left">After you created your first instance, access the security / access information of your instance (some providers auto-generate this, e.g. appbase, on some you have to configure this yourself). Access or create :

          <ul>
            <li>A read-write/admin-key for step 4</li>
            <li>A read-only-key (not all providers provide it on free accounts) for the search UI, this will be used in step 5</li>
          </ul>
        </p>

        <p style="background-color:yellow;">2DO: add images/screenshots</p>

        <p>Special hint: On bonsai.io you need to create an index first via "PUT /yourindex".</p>



        <h3 class="text-left mt-5" id="spreadsheet2Index">4. Send spreadsheet to index 📝 ➡️ 🗄️</h3>



        <p class="pt-2 pb-2">This will perform a one-way-sync from the given Google Drive Spreadsheet to your Elasticsearch instance. The spreadsheet ID will be saved as data field in elasticsearch entries. Before the sync all existing entries with
          that spreadsheet ID will be deleted in the given elasticsearch instance (only if you synced data before). Don't worry about that if you're using that on a newly created Elasticsearch, but don't use it for important real-world databases.</p>


        <div class="text-right pb-2"><a class="btn btn-lite btn-sm btn-oetDeleteLocalStorage" href="#" style="color:#999;"><i class="fa fa-trash" aria-hidden="true"></i> Delete local browser storage</a></div>
        <div class="card text-left">
          <!-- <div class="card-header text-center">
              Configuration (stored in browser storage)
            </div> -->
          <div class="card-body">
            <!-- <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->

            <div class="form-group">
              <label for="oet_spreadsheet_id">Spreadsheet ID</label>
              <input id="oet_spreadsheet_id" name="oet_spreadsheet_id" type="text" class="form-control" aria-describedby="oet_spreadsheet_idHelpBlock" required="required">
              <small class="form-text text-muted">Copy ID from address bar of your browser: https://docs.google.com/spreadsheets/d/<b>THIS-IS-THE-ID</b>/edit?usp=sharing, e.g. '1gqRt0UxtcTNGKduQnTlV1MR3U5ByBkzCyTMkWE6wb04'. Spreadsheet must be published via "File -> Publish in web".</small>
            </div>

            <div class="form-group">
              <label for="oet_spreadsheet_sheet_id">Spreadsheet Sheet ID</label>
              <input id="oet_spreadsheet_sheet_id" name="oet_spreadsheet_sheet_id" type="text" class="form-control" required="required" aria-describedby="oet_spreadsheet_sheet_idHelpBlock">
              <small id="oet_spreadsheet_sheet_idHelpBlock" class="form-text text-muted">In 99,999% of cases this will be "od6", see <a
                  href="https://medium.com/@scottcents/how-to-convert-google-sheets-to-json-in-just-3-steps-228fe2c24e6" class="text-muted">tutorial by @scottcents</a>.</small>
            </div>

            <div class="form-group">
              <label for="oet_elasticsearch_hostname">Elasticsearch: Host name and domain</label>
              <input id="oet_elasticsearch_hostname" name="oet_elasticsearch_hostname" type="text" class="form-control" required="required" aria-describedby="oet_elasticsearch_hostnameHelpBlock">
              <small id="oet_elasticsearch_hostnameHelpBlock" class="form-text text-muted">Host name, retrieved from "https://user:pass@THE-HOSTNAME.DOMAIN/index", e.g. "scalr.api.appbase.io" or "yourcluster.bonsaisearch.net" (without
                https://)</small>
            </div>

            <div class="form-group">
              <label for="oet_elasticsearch_index">Elasticsearch: Index name</label>
              <input id="oet_elasticsearch_index" name="oet_elasticsearch_index" type="text" aria-describedby="oet_elasticsearch_indexHelpBlock" required="required" class="form-control">
              <small id="oet_elasticsearch_indexHelpBlock" class="form-text text-muted">This is the app name on appbase.io, for bonsai.io you have to create it manually first</small>
            </div>

            <div class="form-group">
              <label for="oet_elasticsearch_auth_string_write">Elasticsearch: Authentication string READ-WRITE/ADMIN</label>
              <input id="oet_elasticsearch_auth_string_write" name="oet_elasticsearch_auth_string_write" type="text" class="form-control" aria-describedby="oet_elasticsearch_auth_key_writeHelpBlock" required="required">

              <small id="oet_elasticsearch_auth_key_writeHelpBlock" class="form-text text-muted"> This is a "user:pass" string, e.g. "SxX2673783m:cc2829282921b19fe0dc567". Needs to have write permissions. <input type="checkbox" id="storeAuthStringWriteInLocalStorage">
              <label class="form-check-label" for="exampleCheck1">Save auth string in local browser storage as well</label></small>
            </div>

            <!-- <div class="form-check">
              <input type="checkbox" class="form-check-input" id="storeAuthStringWriteInLocalStorage">
              <label class="form-check-label" for="exampleCheck1"><small>Save auth string in local browser storage as well</small></label>
            </div> -->
            <!-- 2DO: <div class="form-group text-center">
              <button id="testSpreadsheetValues" class="btn btn-info">Test configuration</button>
            </div> -->

            <p class="mt-4" style="line-height:1.1;"><small><span class="badge badge-danger">Warning</span> This process will <u>delete</u> all elasticsearch entries which contain field and value 'spreadsheetid = YOUR-SUBMITTED-SPREADSHEET-ID'. This
                can't be undone. After the deletion the
                <u>current</u> values from the given spreadsheet are inserted. </small></p>

            <div class="mb-3 mt-4 text-center"><button type="button" class="btn btn-lg btn-warning" id="oetSyncSpreadsheet"><i class="fas fa-arrow-circle-right"></i> Send spreadsheet to index (beta)</button></div>
          </div>
        </div>



        <p class="text-center mt-2" style="line-height:1.1"><small class="text-muted">This is just a quick & dirty script, no professional product. Use it at your own risk, no warranty given. Admin key might get exposed trough network. <span
              class="badge badge-info">Advanced</span> <a href="https://gitlab.com/programmieraffe/openeducationtagger-herokuworker" target="_blank" class="text-muted"> Setup heroku.com scheduled worker (cron
              job) <i class="fas fa-external-link-alt"></i></a></small></p>

        <h3 id="step5" class="text-left mt-5 mb-3">5. Explore the search interface 🗄 ➡️ 🔎 </h3>
        <p>Nice, the data should be in the Elastichsearch index by now. How can users explore it in a nice way? The open source software reactivesearch provides a modern looking search interface for elasticsearch databases, here I prepared a general
          interface which works out-of-the-box with the current spreadsheet template:</p>


        <div class="text-right pb-2"><a class="btn btn-lite btn-sm btn-oetDeleteLocalStorage" href="#" style="color:#999;"><i class="fa fa-trash" aria-hidden="true"></i> Delete local browser storage</a></div>
        <div class="card text-left">
          <!-- <div class="card-header text-center">
              Configuration (stored in browser storage)
            </div> -->
          <div class="card-body">

            <!-- <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->

            <div class="form-group">
              <p class="small"><i>Hostname and name of index are configured in <a href="#spreadsheet2index">step 4</a>. (If you want just to get your URL for the search interface, you can leave admin key blank and proceed here)</i></p>

              <div class="form-group">
                <label for="oet_elasticsearch_auth_string_read">Elasticsearch: Authentication string READ-ONLY</label>
                <input id="oet_elasticsearch_auth_string_read" name="oet_elasticsearch_auth_string_read" type="text" class="form-control" aria-describedby="oet_elasticsearch_auth_key_readHelpBlock" required="required">
                <!-- <div class="form-check">
                <input type="checkbox" class="form-check-input" id="storeAuthStringWriteInLocalStorage">
                <label class="form-check-label" for="exampleCheck1"><small>Save auth string in local browser storage as well</small></label>
              </div> -->
                <small id="oet_elasticsearch_auth_key_writeHelpBlock" class="form-text text-muted">This is a "user:pass" string, e.g. "SxX2673783m:cc2829282921b19fe0dc567". <span class="badge badge-danger">Security</span> For security reasons this
                  access key should only have rights to read data,
                  because it will be exposed to end users using the search UI and in the URL/browser history.</small>
              </div>


            </div>
          </div>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-lg btn-success  mb-5" id="oetOpenSearchUi" target="_blank"><i class="fa fa-search" aria-hidden="true"></i> Open the search interface </a>
        </div>

        <div class="form-group">
          <label><small>Your search URL (will be generated you fill in the configuration values):</small></label><input type="text" readonly class="form-control" id="searchUiUrl" value="https://" />
        </div>

        <p class="text-muted text-center mb-5"><small><span class="badge badge-info">Advanced:</span> <a href="https://gitlab.com/programmieraffe/openeducationtagger-search" target="_blank" class="text-muted"> <i class="fas fa-external-link-alt"></i>
              Fork it and build your own</a></small></p>



      </div>
    </div>
    <div class="row">
      <div class="col-12 mt-5">
      </div>
    </div>
  </form>
</div>
